workflows/Document Analyst.json
{
  "name": "Document Analyst",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.fileExtension }}",
                    "rightValue": "txt",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9c38509f-fc10-4d9a-ac86-0a90f102dcba"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "txt"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e1196902-b19e-44f2-8ead-902a8bc2ddc8",
                    "leftValue": "={{ $json.fileExtension }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2581f77b-323a-47c7-8cc5-6fd6cd8109d4",
                    "leftValue": "={{ $json.fileExtension }}",
                    "rightValue": "docx",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "docx"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1040,
        0
      ],
      "id": "771d2693-88a5-414f-bb7e-e58bea5ce779",
      "name": "Switch"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -592,
        32
      ],
      "id": "3d81b16d-e62a-45cf-80f7-d990799de5df",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst text = buffer.toString('utf8');\n\nconst filename = item.json.name || item.json.fileName || item.json.filename;\n\nreturn [{\n  json: {\n    filename: filename,\n    file_type: 'txt',\n    extracted_text: text\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -816,
        -48
      ],
      "id": "8175d5ea-71b0-4388-9cbe-65b4493973eb",
      "name": "txt parsing"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8001/extract",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {},
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -816,
        80
      ],
      "id": "5562bb34-e194-43f1-b52d-a4651194fe6f",
      "name": "PDF/docx parsing",
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nconst prompt = `You are a business document intelligence assistant for finance, legal, and procurement teams.\nAnalyze the following business document and return ONLY a valid JSON object with these exact fields.\n\nUse these classification values exactly:\n- invoice\n- contract\n- purchase_order\n- vendor_agreement\n- quote\n- receipt\n- other\n\nFocus on business-relevant details such as parties, dates, amounts, payment terms, PO numbers, contract obligations, and vendor information.\n\nReturn ONLY valid JSON in this shape:\n\n{\n  \"summary\": \"2-3 sentence summary of the document\",\n  \"classification\": \"one of: [invoice, contract, purchase_order, vendor_agreement, quote, receipt, other]\",\n  \"sentiment\": \"one of: [positive, neutral, negative]\",\n  \"entities\": {\n    \"people\": [\"list of person names\"],\n    \"organizations\": [\"list of company or vendor names\"],\n    \"dates\": [\"list of dates mentioned such as invoice date, due date, contract start/end\"],\n    \"amounts\": [\"list of monetary amounts, totals, or payment values\"]\n  },\n  \"action_items\": [\n    \"list of recommended business actions such as approve payment, route to legal, verify PO number, renew contract, or follow up with vendor\"\n  ],\n  \"confidence_score\": 0.0\n}\n\nDocument filename: ${item.filename}\nDocument type: ${item.file_type}\n\nDocument text:\n${item.extracted_text}`;\n\nreturn [{\n  json: {\n    filename: item.filename,\n    file_type: item.file_type,\n    page_count: item.page_count || null,\n    paragraph_count: item.paragraph_count || null,\n    extracted_text: item.extracted_text,\n    prompt: prompt\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        32
      ],
      "id": "98695c41-79d9-4eb7-8a3b-f48d4697e796",
      "name": "Add prompt"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nfunction cleanText(text) {\n  if (!text) return '';\n\n  return text\n    .replace(/\\r\\n/g, '\\n')\n    .replace(/\\r/g, '\\n')\n    .replace(/(\\w)-\\n(\\w)/g, '$1$2')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .replace(/[ \\t]+/g, ' ')\n    .split('\\n')\n    .map(line => line.trim())\n    .filter(line => line.length > 0)\n    .join('\\n')\n    .slice(0, 30000);\n}\n\nconst cleaned = cleanText(item.extracted_text);\n\nreturn [{\n  json: {\n    filename: item.filename,\n    file_type: item.file_type,\n    page_count: item.page_count || null,\n    paragraph_count: item.paragraph_count || null,\n    extracted_text: cleaned\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        32
      ],
      "id": "7831448c-6b8b-4c10-8c7e-e4665b320f26",
      "name": "Clean text"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3.5-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{ \"text\": {{ JSON.stringify($json.prompt) }} }]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.2,\n    \"responseMimeType\": \"application/json\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        32,
        32
      ],
      "id": "514f39eb-97d2-4431-ab9d-57a7ce01f9d1",
      "name": "Gemini API",
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "W3kEcJvsKUxmcjUD",
          "name": "Header Auth account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/enrich",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"classification\": {{ JSON.stringify($json.classification) }},\n  \"sentiment\": {{ JSON.stringify($json.sentiment) }},\n  \"confidence_score\": {{ $json.confidence_score }},\n  \"entities\": {{ JSON.stringify($json.entities) }},\n  \"summary\": {{ JSON.stringify($json.summary) }},\n  \"filename\": {{ JSON.stringify($json.filename) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        400,
        16
      ],
      "id": "1a01d911-cc66-4fdf-bb0f-d10cbbb357c6",
      "name": "Enrich",
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1-n8CBdpSwzuI5MeJIsaMLSgb9vmNyIwlwTCoaZ5bjuY",
          "mode": "list",
          "cachedResultName": "n8n-project",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-n8CBdpSwzuI5MeJIsaMLSgb9vmNyIwlwTCoaZ5bjuY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-n8CBdpSwzuI5MeJIsaMLSgb9vmNyIwlwTCoaZ5bjuY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "summary": "={{ $json.summary_short }}",
            "confidence_score": "={{ $json.confidence_score }}",
            "classification ": "={{ $json.classification }}",
            "document_id": "={{ $json.document_id }}",
            "filename ": "={{ $json.filename }}",
            "department ": "={{ $json.department }}",
            "sensitivity ": "={{ $json.sensitivity }}",
            "processed_at": "={{ $json.processed_at }}",
            "sentiment ": "={{ $json.sentiment }}",
            "routing_tag": "={{ $json.routing_tag }}",
            "action item": "={{ $json.action_items }}",
            "filetype ": "={{ $json.file_type }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "document_id",
              "displayName": "document_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "filename ",
              "displayName": "filename ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "filetype ",
              "displayName": "filetype ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "classification ",
              "displayName": "classification ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "department ",
              "displayName": "department ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sentiment ",
              "displayName": "sentiment ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "confidence_score",
              "displayName": "confidence_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "routing_tag",
              "displayName": "routing_tag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sensitivity ",
              "displayName": "sensitivity ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "action item",
              "displayName": "action item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        864,
        96
      ],
      "id": "22a98bf2-5500-4fe3-a867-74cde25b4296",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "z7IOsVnCVWdGXH98",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const gemini = $input.first().json;\nconst prev = $('Add prompt').first().json;\n\nconst raw = gemini.candidates[0].content.parts[0].text;\nconst parsed = JSON.parse(raw);\n\nreturn [{\n  json: {\n    ...parsed,\n    filename: prev.filename,\n    file_type: prev.file_type,\n    extracted_text: prev.extracted_text\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        16
      ],
      "id": "21b2100b-7894-4d9a-ac9d-51ec281ed965",
      "name": "Parse Gemini"
    },
    {
      "parameters": {
        "sendTo": "ido14725666@gmail.com",
        "subject": "=[{{ $json.classification }}] New document processed: {{ $json.filename }}",
        "message": "=<h2>Document Processed</h2> <p><b>File:</b> {{ $json.filename }}</p> <p><b>Classification:</b> {{ $json.classification }}</p> <p><b>Sentiment:</b> {{ $json.sentiment }}</p> <p><b>Department:</b> {{ $json.department }}</p> <p><b>Sensitivity:</b> {{ $json.sensitivity }}</p> <p><b>Routing tag:</b> {{ $json.routing_tag }}</p> <h3>Summary</h3> <p>{{ $json.summary }}</p> <h3>Action items</h3> <p>{{ $json.action_items }}</p> <hr> <p>\n<p><a href=\"https://docs.google.com/spreadsheets/d/1-n8CBdpSwzuI5MeJIsaMLSgb9vmNyIwlwTCoaZ5bjuY/edit?usp=drivesdk\">View in Google Sheets</a></p>\n<i>Sent automatically by n8n + Gemini Document Analyst</i></p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        864,
        448
      ],
      "id": "ba0bd5d9-c080-40b2-8898-75b6fc9c34da",
      "name": "Send a message",
      "webhookId": "6ab23a8b-a84c-4c53-971e-dab47b6cf492",
      "credentials": {
        "gmailOAuth2": {
          "id": "037NiQN31t8XQl28",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1f6S2vmI0DtyMAnvaNfMgBASTldg4Srod",
          "mode": "list",
          "cachedResultName": "incoming_docs",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1f6S2vmI0DtyMAnvaNfMgBASTldg4Srod"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1488,
        32
      ],
      "id": "06f8e62e-fd7c-412a-b557-3126885c7e49",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "s8XGSOVQzxlBa7Wv",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1264,
        32
      ],
      "id": "ece60f62-c22a-4c87-98ed-4b723c51195e",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "s8XGSOVQzxlBa7Wv",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $json.output_path.split('/').pop() }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1HwPH5E-1aIpV4GO0ATwLpSwCDPKQLZzH",
          "mode": "list",
          "cachedResultName": "output_docs",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1HwPH5E-1aIpV4GO0ATwLpSwCDPKQLZzH"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1056,
        272
      ],
      "id": "c97e8a37-6de9-4602-9819-d8488cddfad8",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "s8XGSOVQzxlBa7Wv",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        848,
        -160
      ],
      "id": "746fc27d-5534-47da-93d3-dd28b426ab42",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "content": "## Trigger",
        "height": 368,
        "width": 448,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1520,
        -112
      ],
      "typeVersion": 1,
      "id": "0b95eba7-e3b4-4d91-8431-2cee7304ffa5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Parsing",
        "height": 368,
        "width": 832
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1072,
        -112
      ],
      "typeVersion": 1,
      "id": "64225ee2-08bf-459e-9882-4967b524e43f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Gemini",
        "height": 368,
        "width": 784,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        -112
      ],
      "typeVersion": 1,
      "id": "77d981f2-0912-49aa-834f-2936791d82c4",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Alerts\n ",
        "height": 368,
        "width": 672,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        544,
        -352
      ],
      "typeVersion": 1,
      "id": "d6b13550-cb4f-4468-ab8c-e83b66cbfe5d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Outputs\n",
        "height": 576,
        "width": 672,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        544,
        16
      ],
      "typeVersion": 1,
      "id": "c44399eb-15b9-4e6f-b67b-b907a188ea57",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "sendTo": "ido14725666@gmail.com",
        "subject": "=[CONFIDENTIAL] Immediate review: {{ $json.filename || $('Parse Gemini').item.json.filename }}",
        "emailType": "text",
        "message": "=A confidential document just hit incoming_docs.  Document name: {{ $json.filename }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        848,
        -320
      ],
      "id": "01fd4fec-9ef0-460c-b229-11f34a0a2620",
      "name": "Send high priority email",
      "webhookId": "7ec57dc9-267f-4e86-9dda-aa9f6dd588b8",
      "credentials": {
        "gmailOAuth2": {
          "id": "037NiQN31t8XQl28",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d6e0e64d-7ae6-41a3-9d2f-3cf520688c45",
              "leftValue": "={{$json[\"sensitivity\"]}}",
              "rightValue": "confidential",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        608,
        -240
      ],
      "id": "592ea522-df66-4fb5-8f93-781fbbe63b3a",
      "name": "If confidential sensitivity"
    },
    {
      "parameters": {
        "content": "## Error: Unsupported File Type\n",
        "height": 336,
        "width": 496,
        "color": "#EC2745"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1312,
        256
      ],
      "typeVersion": 1,
      "id": "db6b8728-d6a7-403c-8289-07c9ec43045e",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nconst filename = item.name || item.filename || 'unknown';\nconst fileType = item.fileExtension || item.file_type || 'unknown';\nconst mimeType = item.mimeType || '';\n\nreturn [{\n  json: {\n    filename,\n    file_type: fileType,\n    mime_type: mimeType,\n    error: 'Unsupported file format. Allowed types: txt, pdf, docx'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        416
      ],
      "id": "f37184e3-a22f-4488-9b65-885eefaac62a",
      "name": "Build unsupported file error"
    },
    {
      "parameters": {
        "sendTo": "ido14725666@gmail.com",
        "subject": "=[ERROR] Unsupported file: {{ $json.filename }}",
        "message": "=<h2>Unsupported File Rejected</h2> <p><b>File:</b> {{ $json.filename }}</p> <p><b>Extension:</b> {{ $json.file_type }}</p> <p><b>MIME type:</b> {{ $json.mime_type }}</p> <p><b>Reason:</b> {{ $json.error }}</p> <hr> <p><i>Sent automatically by n8n Document Analyst</i></p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1024,
        416
      ],
      "id": "0b08ea09-78ad-4427-82af-7dd168f71341",
      "name": "Send unsupported file alert",
      "webhookId": "b58ca6bc-c80f-400c-8bd4-460551289620",
      "credentials": {
        "gmailOAuth2": {
          "id": "037NiQN31t8XQl28",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Error: Extract/Gemini/ Enrich API Failed \n",
        "height": 336,
        "width": 1088,
        "color": "#EC2745"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -816,
        256
      ],
      "typeVersion": 1,
      "id": "0eb7d53b-38d7-4d07-8e0e-77363cc75956",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst apiErr = item.error || {};\nconst doc = $('Add prompt').first().json;\n\nfunction cleanMessage(raw) {\n  if (!raw) return '';\n  const jsonStart = raw.indexOf('{');\n  if (jsonStart >= 0) {\n    try {\n      const parsed = JSON.parse(raw.slice(jsonStart));\n      if (parsed.error?.message) return parsed.error.message;\n    } catch {}\n  }\n  return raw;\n}\n\nreturn [{ json: {\n  error_stage: 'gemini',\n  filename: doc.filename || 'unknown',\n  file_type: doc.file_type || 'unknown',\n  error_message: cleanMessage(apiErr.message) || 'Gemini API request failed',\n  http_code: String(apiErr.status || apiErr.statusCode || ''),\n  details: JSON.stringify({\n    code: apiErr.code || '',\n    name: apiErr.name || '',\n    status: apiErr.status || apiErr.statusCode || '',\n    hint: apiErr.status === 503\n      ? 'Gemini model busy — retry in a few minutes'\n      : apiErr.status === 429\n      ? 'Rate limit hit — wait and retry'\n      : apiErr.status === 401 || apiErr.status === 403\n      ? 'Check Gemini API key in n8n credentials'\n      : ''\n  }).slice(0, 500)\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        416
      ],
      "id": "7be34e9b-26f0-4cf7-b0a8-81ad2ddd7504",
      "name": "Tag Gemini error"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst apiErr = item.error || {};\nconst doc = $('Download file').first().json;\n\nfunction cleanMessage(raw) {\n  if (!raw) return '';\n  const jsonStart = raw.indexOf('{');\n  if (jsonStart >= 0) {\n    try {\n      const parsed = JSON.parse(raw.slice(jsonStart));\n      if (parsed.error?.message) return parsed.error.message;\n    } catch {}\n  }\n  return raw;\n}\n\nreturn [{ json: {\n  error_stage: 'extract',\n  filename: doc.name || doc.fileName || 'unknown',\n  file_type: doc.fileExtension || 'unknown',\n  error_message: cleanMessage(apiErr.message) || 'Extract API request failed',\n  http_code: String(apiErr.status || apiErr.statusCode || ''),\n  details: JSON.stringify({\n    code: apiErr.code || '',\n    name: apiErr.name || '',\n    status: apiErr.status || apiErr.statusCode || '',\n    hint: apiErr.code === 'ECONNREFUSED'\n      ? 'extract_api not running or not reachable on port 8001'\n      : ''\n  }).slice(0, 500)\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        416
      ],
      "id": "9941c95a-b5f9-47a2-b324-4d73a2375e25",
      "name": "Tag extract error"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst apiErr = item.error || {};\nconst g = $('Parse Gemini').first().json;\n\nfunction cleanMessage(raw) {\n  if (!raw) return '';\n  const jsonStart = raw.indexOf('{');\n  if (jsonStart >= 0) {\n    try {\n      const parsed = JSON.parse(raw.slice(jsonStart));\n      if (parsed.error?.message) return parsed.error.message;\n    } catch {}\n  }\n  return raw;\n}\n\nreturn [{ json: {\n  error_stage: 'enrich',\n  filename: g.filename || 'unknown',\n  file_type: g.file_type || 'unknown',\n  error_message: cleanMessage(apiErr.message) || 'Enrich API request failed',\n  http_code: String(apiErr.status || apiErr.statusCode || ''),\n  partial_summary: (g.summary || '').slice(0, 200),\n  details: JSON.stringify({\n    code: apiErr.code || '',\n    name: apiErr.name || '',\n    status: apiErr.status || apiErr.statusCode || '',\n    hint: apiErr.code === 'ECONNREFUSED'\n      ? 'metadata_api not running or not reachable on port 8000'\n      : ''\n  }).slice(0, 500)\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        416
      ],
      "id": "f86aa5c9-935c-447f-a1df-4158bbda9cee",
      "name": "Tag enrich error"
    },
    {
      "parameters": {
        "jsCode": "const e = $input.first().json;\nconst titles = {\n  extract: 'Extract API Failed',\n  gemini: 'Gemini API Failed',\n  enrich: 'Metadata Enrichment Failed'\n};\nreturn [{ json: {\n  subject: `[ERROR] ${e.error_stage}: ${e.filename}`,\n  message: `<h2>${titles[e.error_stage] || 'Processing Failed'}</h2>\n    <p><b>File:</b> ${e.filename}</p>\n    <p><b>Type:</b> ${e.file_type}</p>\n    <p><b>Stage:</b> ${e.error_stage}</p>\n    <p><b>Error:</b> ${e.error_message}</p>\n    ${e.http_code ? `<p><b>HTTP:</b> ${e.http_code}</p>` : ''}\n    ${e.partial_summary ? `<p><b>AI summary:</b> ${e.partial_summary}</p>` : ''}\n    ${e.details ? `<p><b>Details:</b> ${e.details}</p>` : ''}\n    <hr><p><i>Sent automatically by n8n Document Analyst</i></p>`\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        416
      ],
      "id": "8547f009-e6fe-4e1d-82b4-f5219ac1a18e",
      "name": "Build error"
    },
    {
      "parameters": {
        "sendTo": "ido14725666@gmail.com",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        32,
        416
      ],
      "id": "46bce399-a69f-4fef-abf6-05bf143a1295",
      "name": "Send error alert",
      "webhookId": "b58ca6bc-c80f-400c-8bd4-460551289620",
      "credentials": {
        "gmailOAuth2": {
          "id": "037NiQN31t8XQl28",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nconst report = {\n  document_id: item.document_id,\n  filename: item.filename,\n  classification: item.classification,\n  department: item.department,\n  sentiment: item.sentiment,\n  sensitivity: item.sensitivity,\n  routing_tag: item.routing_tag,\n  confidence_score: item.confidence_score,\n  processed_at: item.processed_at,\n  summary: item.summary,\n  action_items: item.action_items,\n  entities: item.entities\n};\n\nconst baseName = item.filename.replace(/\\.[^.]+$/, '');\n\nconst jsonPath = `/data/output_docs/${baseName}_report.json`;\nconst mdPath = `/data/output_docs/${baseName}_report.md`;\n\nconst markdown = `# Document Report: ${item.filename}\n\n- **Document ID:** ${item.document_id}\n- **Classification:** ${item.classification}\n- **Department:** ${item.department}\n- **Sentiment:** ${item.sentiment}\n- **Sensitivity:** ${item.sensitivity}\n- **Routing tag:** ${item.routing_tag}\n\n## Summary\n${item.summary}\n\n## Action items\n${item.action_items}\n`;\n\nconst jsonBuffer = Buffer.from(JSON.stringify(report, null, 2), 'utf8');\nconst mdBuffer = Buffer.from(markdown, 'utf8');\n\nreturn [\n  {\n    json: { ...item, output_path: jsonPath },\n    binary: {\n      data: await this.helpers.prepareBinaryData(\n        jsonBuffer,\n        `${baseName}_report.json`,\n        'application/json'\n      )\n    }\n  },\n  {\n    json: { ...item, output_path: mdPath },\n    binary: {\n      data: await this.helpers.prepareBinaryData(\n        mdBuffer,\n        `${baseName}_report.md`,\n        'text/markdown'\n      )\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        272
      ],
      "id": "dfd52493-12d7-4eed-864d-d0f163483c8f",
      "name": "Build report content"
    },
    {
      "parameters": {
        "jsCode": "const gemini = $('Parse Gemini').first().json;  // your parse node name\nconst enrich = $input.first().json;\n\nreturn [{\n  json: {\n    ...gemini,\n    ...enrich,\n    summary_short: (gemini.summary || '').slice(0, 500),\n    action_items: Array.isArray(gemini.action_items)\n      ? gemini.action_items.join(', ')\n      : gemini.action_items\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        272
      ],
      "id": "c9dadff7-2f43-4b04-8b59-a686827078eb",
      "name": "Merge results"
    }
  ],
  "pinData": {},
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "txt parsing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PDF/docx parsing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PDF/docx parsing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build unsupported file error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Clean text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "txt parsing": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF/docx parsing": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Tag extract error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add prompt": {
      "main": [
        [
          {
            "node": "Gemini API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean text": {
      "main": [
        [
          {
            "node": "Add prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini API": {
      "main": [
        [
          {
            "node": "Parse Gemini",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tag Gemini error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich": {
      "main": [
        [
          {
            "node": "Merge results",
            "type": "main",
            "index": 0
          },
          {
            "node": "If confidential sensitivity",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tag enrich error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gemini": {
      "main": [
        [
          {
            "node": "Enrich",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        []
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If confidential sensitivity": {
      "main": [
        [
          {
            "node": "Send high priority email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build unsupported file error": {
      "main": [
        [
          {
            "node": "Send unsupported file alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag Gemini error": {
      "main": [
        [
          {
            "node": "Build error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag extract error": {
      "main": [
        [
          {
            "node": "Build error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build error": {
      "main": [
        [
          {
            "node": "Send error alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag enrich error": {
      "main": [
        [
          {
            "node": "Build error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build report content": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge results": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build report content",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "00e414cb-c7c1-470e-81f5-9e21b6af2e60",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ce2bc86535d7d0c864687902389e4683bfa52770a28941e46f2df30ff2f77ac4"
  },
  "nodeGroups": [],
  "id": "kasEoppPoSG4VmqB",
  "tags": []
}